@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@font-face {
	font-family:'SF Pro Icons';
	font-style:normal;
	font-weight:700;
    src: local("☺︎"), url("https://mastrosfoglino.com/font/sf-pro-icons_bold.woff2") format("woff2");
}


@font-face {
	font-family:'SF Pro Icons';
	font-style:normal;
	font-weight:800;
    src: local("☺︎"), url("https://mastrosfoglino.com/font/sf-pro-icons_heavy.woff2") format("woff2");
}


@font-face {
	font-family:'SF Pro Icons';
	font-style:normal;
	font-weight:400;
    src: local("☺︎"), url("https://mastrosfoglino.com/font/sf-pro-icons_regular.woff2") format("woff2");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    src: local("☺︎"), url("https://mastrosfoglino.com/font/sf-pro-display-regular.woff2") format("woff2");
}
