html.noscroll {
  margin-top: 0 !important;
}

html.noscroll,
html.noscroll body {
  overflow: hidden !important;
  height: 100% !important;
}

html.noscroll-long {
  overflow-x: scroll !important;
}

.header-content {
  display: block;
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 9998;
}

.header-logo {
  position: absolute;
  width: 100px;
  margin-top: 15px;
  margin-left: 53px;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.header-logo a {
  display: block;
  height: 50px;
}

.nav-icon-label {
  display: block;
  position: fixed;
  right: 0;
  width: 65px;
  height: 65px;
  z-index: 9999;
  cursor: pointer;
}

.menuicon-bread {
    position: absolute;
    z-index: 4;
    width: 24px;
    height: 30px;
  margin-top: 18px;
  margin-left: 18px;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition:opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1)
}

.menuicon-bread-top {
    -webkit-transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    -webkit-transform: none;
    transform: none;
    z-index:4
}

input[type="checkbox"]:checked ~ label .menuicon-bread-top {
    -webkit-transition: -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    transition: -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s, -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    -webkit-transform: rotate(45deg);
    transform:rotate(45deg)
}

.menuicon-bread-bottom {
    -webkit-transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    -webkit-transform: none;
    transform:none
}

input[type="checkbox"]:checked ~ label .menuicon-bread-bottom {
    -webkit-transition: -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    transition: -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s, -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    -webkit-transform: rotate(-45deg);
    transform:rotate(-45deg)
}

.menuicon-bread-crust {
    display: block;
    width: 24px;
    height: 2px;
    background: #1d1d1d;
    border-radius: 1px;
    position: absolute;
    z-index:1
}

.menuicon-bread-crust-top {
    top: 14px;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    transition:transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s
}

input[type="checkbox"]:checked ~ label .menuicon-bread-crust-top {
    -webkit-transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    -webkit-transform: none;
    transform:none
}

.menuicon-bread-crust-bottom {
    bottom: 14px;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    transition:transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s
}

input[type="checkbox"]:checked ~ label .menuicon-bread-crust-bottom {
    -webkit-transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    -webkit-transform: none;
    transform:none
}

.header-icon-content {
  position: fixed;
  width: 35px;
  height: 35px;
  top: 15px;
  left: 0px;
  opacity: 1;
  visibility: visible;
  z-index: 1010;
  cursor: pointer;
}

.header-list-icon {
  display: inline-flex;
  height: 35px;
  list-style: none;
}

.header-icon svg {
  width: 35px;
  opacity: 1;
  vertical-align: middle;
}

.icon-sfoglia {
  margin-left: 15px;
  transform-origin: bottom;
  transition: transform 0.25s ease-in-out;
  transform: scaleY(1) translateY(0px);
}

.icon-cartouche {
  transform-origin: top;
  transition: transform 0.25s ease-in-out;
  transform: scaleX(1) translateX(-150px);
}

.icon-sfoglia-ghost {
  transition: transform 0.25s ease-in-out;
  transform: scaleY(1) translateY(-40px);
}

.icon-cartouche-ghost {
  transition: transform 0.25s ease-in-out;
  transform: scaleX(1) translateX(-35px); 
}

input[type="checkbox"] {
  display: none;
}

.nav-overlay {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #FFFFFF;
  opacity: 1;
  visibility: hidden;
  z-index: 9998;
}

input[type="checkbox"]:checked ~ .nav-overlay {
  opacity: 1;
  visibility: visible;
}

.nav-content {
  text-align: center;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.nav-list {
  list-style: none;
  overflow: hidden; 
}

.nav-list li {
  padding: 10px 0;
}

.nav-item a {
  font-family: "Roboto", "SF Pro Icons", sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1.25;
  font-weight: 400;
  text-decoration: none;
  color: #1d1d1d;
}

.nav-item a:hover {
  font-weight: 500;
  text-decoration: none;
}

.nav-icon {
  display: inline-flex;
}

.nav-icon svg {
  width: 30px;
  opacity: 1;
  vertical-align: middle;
}

.nav-icon-instagram {
  margin-right: 10px;
}
